.button {
  border: none;
  background: transparent;
  color: var(--gray-300);
  display: flex;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: auto;
  margin-bottom: 30px;
  padding: 16px 32px;
  text-align: left;

  &:hover {
    cursor: pointer;
  }
}

.buttonText {
  display: block;
  margin-left: 20px;
}
