.nav {
  background: var(--grey-900);
  border-radius: 8px 8px 0 0;
  color: var(--grey-300);
  display: flex;
  flex-direction: column;
  padding: 8px 16px 0;

  @media (min-width: 768px) {
    padding: 8px 40px 0;
  }

  @media (min-width: 1140px) {
    border-radius: 0 16px 16px 0;
    height: 100%;
  }
}

.navOpen {
  @media (min-width: 1140px) {
    padding: 0 24px 0 0;
  }
}

.navClosed {
  @media (min-width: 1140px) {
    padding: 0 8px 0 0;
  }
}
