.nav {
  bottom: 0;
  height: 74px;
  position: fixed;
  width: 100%;
}

@media (min-width: 769px) {
  .nav {
    height: 100vh;
  }

  .navExpanded {
    width: 300px;
  }

  .navCollapsed {
    width: 88px;
  }

  .appNavExpanded {
    padding-left: 300px;
  }

  .appNavCollapsed {
    padding-left: 88px;
  }
}
